.note{
    padding: 1.5rem 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(236, 109, 109, 0.4);
    margin: 1rem;
    width: 400px;
}
.note_title{
    font-size: large;
    font-weight: 700;
}
.note_description{
    font-size: small;
    font-weight: 400;
}
.note_button_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.note_button{
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}
.note_update{
    background-color: blueviolet;
}
.note_delete{
    background-color: red;
}
.note_done{
    background-color: rgb(23, 223, 33);
}
.done{
    text-decoration: line-through;
    font-weight: bolder;
}
