.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 800;
  width: 50%;
}

.author {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: white;
  font-weight: 800;
}

.qote_button {
  border: none;
  margin: 1.7rem 1rem;
  background-color: blueviolet;
  padding: 10px 7px;
  color: white;
  cursor: pointer;
  width: 200px;
  font-size: larger;
  font-weight: 500;
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out;
}
.qote_button:hover {
  background-color: rgb(176, 130, 220);
  transition: all;
}
.greeting {
  font-size: 5rem;
}
